## 1. CHI-SQUARE TEST

In [21]:
import pandas as pd
import numpy as np
import scipy.stats as stats 
import math

In [22]:
data=pd.read_csv('customer satisfaction levels.csv')
data.head(2)

     Satisfaction  Smart Thermostat  Smart Light  Total
0  Very Satisfied                50           70    120
1       Satisfied                80          100    180

In [23]:
df=data.iloc[:-1]
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70

In [24]:
df1=df[['Smart Thermostat', 'Smart Light']].values
df1

array([[ 50,  70],
       [ 80, 100],
       [ 60,  90],
       [ 30,  50],
       [ 20,  50]], dtype=int64)

In [25]:
chi2,p_value,dof,expected=stats.chi2_contingency(df1)

In [26]:
print("\nChi-square Statistic:", chi2)
print("p-value:", p_value)
print("Degrees of Freedom:", dof)
print("Expected Frequencies:")
print(expected)

Chi-square Statistic: 5.638227513227513
p-value: 0.22784371130697179
Degrees of Freedom: 4
Expected Frequencies:
[[ 48.  72.]
 [ 72. 108.]
 [ 60.  90.]
 [ 32.  48.]
 [ 28.  42.]]

Conclusion:

alpha = 0.05
p_value= 0.227

  p_value >alpha
There is no significant association between the type of smart device and satisfaction levels (fail to reject H0).

## 2.HYPOTHESIS TESTING

Use the following formula to calculate the test statistic (t):
where:
â€¢	Ë‰xË‰ = sample mean weekly cost (Rs. 3,050)
â€¢	Î¼ = theoretical mean weekly cost according to the cost model (W = $1,000 + $5X for X = 600 units)
â€¢	Ïƒ = 5*25 units
â€¢	n = sample size (25 restaurants)

In [32]:
# Solution 
sample_mean = 3050
theoretical_mean = 1000 + 5 * 600
std_dev = 5 * 25
sample_size = 25

# Hypotheses Statement:
# Null Hypothesis (H0):The mean weekly operating cost is equal to the theoretical mean cost
#                  H0: ðœ‡ = 4000

# Alternative Hypothesis (H1):TThe mean weekly operating cost is higher than the theoretical mean cost
#                  H1: ðœ‡ > 4000

In [33]:
test_statistic = (sample_mean - theoretical_mean) / (std_dev / math.sqrt(sample_size))
test_statistic

-38.0

In [34]:
alpha = 0.05

critical_value = stats.norm.ppf(1 - alpha)
critical_value

1.6448536269514722

In [35]:
print("Sample Mean:", sample_mean)
print("Theoretical Mean:", theoretical_mean)
print("Standard Deviation:", sigma)
print("Sample Size:", sample_size)
print("Test Statistic (t):", test_statistic)
print("Critical Value (z):", critical_value)

Sample Mean: 3050
Theoretical Mean: 4000
Standard Deviation: 125
Sample Size: 25
Test Statistic (t): -38.0
Critical Value (z): 1.6448536269514722

Conclusion:

Test Statistic : -38.0
Critical Value : 1.6448536269514722

 âˆ’38.0 is less than 1.6448536269514722 we do not reject the null hypothesis. 
there is no strong evidence to support the restaurant owners' claim that the weekly operating costs are higher than the model suggests.